$primary-color:rgb(73, 71, 71);
$secondary-color:rgb(209, 142, 17);
*{
    padding: 0;
    margin: o;
    box-sizing: border-box;
}//the above lines are global declaration
@mixin transition-ease{
    transition: all 0.5s ease-in-out;
}//this is mixin
@function set-text-color($color){
    @if (lightness($color)>40%){
        @return black;//it can work if condition is true
    }@else{
        @return white;//it can work if condition is false
    }
}//this is functions
@mixin media-md{
    @media screen and (min-width:768px) {
     @content;   
    }
}
@mixin media-lg{
    @media screen and (min-width:1024px) {
     @content;   
    }
}
@mixin media-xl{
    @media screen and (min-width:1600px) {
     @content;   
    }
}